#main_title {
    font-family: 'Poppins', sans-serif;
    color: yellow;
}

body {
    background-color: black;
}

p {
    color: aqua;
}

video {
    display: flex;
    justify-content: center;
    viewport-fit: ;
}
